// ------- common ------- //
* {
    font-family: "Noto Sans", sans-serif !important;
  }
  html,
  body {
    font-size: 10px;
    letter-spacing: -0.5px;
    font-family: "Noto Sans", sans-serif !important;
    min-width: 1900px;
  }
a {
color: inherit;
}
em {
font-style: normal;
}
main{
  padding-top: 100px;
}
